extends layout

block head
  title= __(title || "UNTITLED_PAGE")

block content
  h1(style="margin-bottom: 2rem")= __(title || "UNTITLED_PAGE")
  if user
    div(style="margin-bottom: 1rem"): a.btn.btn-primary(href="/upload")= __("UPLOAD")
  if files && files.length
    style.
      .table td, .table th { border-top-color: #ccc }
    .table-responsive: table.table
      thead.thead-inverse
        th= __("FILE_ID")
        if user
          th(style="text-align: center")= __("FILE_PRIVACY")
        th= __("FILE_NAME")
        th= __("FILE_SIZE")
        if files[0].User
          th= __("FILE_UPLOADER")
        th= __("FILE_UPLOAD_TIME")
      each file in files
        tr
          th= file.id
          if user
            td(style="text-align: center"): input(type="checkbox" disabled checked=file.privacy === 'private' ? true : false)
          td: a(href=file.path)= file.name
          td= file.size_human
          if file.User
            td= file.User.login
          td= file.created_at_human
  else
    .alert.alert-info= __("NO_FILES")
  
