doctype html
html(lang=locale style="height: 100%")
  head
    block head
      title= __("UNTITLED_PAGE")
    link(rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
    style.
      form { background-color: #ddd; border-left: solid 1px #ccc; border-top: solid 1px #ccc }
  body(style="height: 100%")
    nav.navbar.navbar-full.navbar-dark.bg-inverse
      .container
        a.navbar-brand(href="/")= __("PROJECT_TITLE")
        ul.nav.navbar-nav.pull-xs-right
          if user
            li.nav-item: span.nav-link.active= __("HI_%S", user.login)
            li.nav-item: a.nav-link(href="/myfiles")= __("MY_FILES")
            li.nav-item: a.nav-link(href="/logout")= __("LOGOUT")
          else
            li.nav-item: a.nav-link(href="/login")= __("LOGIN")
            li.nav-item: a.nav-link(href="/register")= __("REGISTER")
    .container(style="background-color: #f4f4f4; padding-top: 5rem; min-height: 100%; margin-top: -60px")
      block content