extends layout

block head
  title= __("AUTH")

block content
  form(method="post" style="margin: 0 auto; width: 500px; padding: 1rem")
    .h4(style="margin-bottom: 1.5rem")= __("AUTH")
    if errors
      .alert.alert-danger: ul(style="margin-bottom: 0")
        each error in errors
          li= __(error)
    .form-group.row
      label.col-sm-4.form-control-label= __("LOGIN_FIELD_NAME")
      .col-sm-8
        input.form-control(type="text" name="login")
    .form-group.row
      label.col-sm-4.form-control-label= __("PASSWORD_FIELD_NAME")
      .col-sm-8
        input.form-control(type="password" name="password")
    .form-group.row
      .col-sm-4
      .col-sm-8
        button.btn.btn-primary(type="submit")= __("LOGIN_BUTTON_TEXT")
  