extends layout

block head
  title= __("LOGOUT")

block content
  form(method="post" style="margin: 0 auto; width: 500px; padding: 1rem")
    .h4(style="margin-bottom: 1.5rem")= __("LOGOUT_FORM_HEADER")
    p(style="margin-bottom: 1.5rem")= __("LOGOUT_FORM_TEXT")
    button.btn.btn-primary(type="submit")= __("LOGOUT_BUTTON_TEXT")
    a.btn.btn-link(href="/myfiles")= __("NO")
  