extends layout

block head
  title= __("REGISTER")

block content
  - form = form || {}
  form(method="post" style="margin: 0 auto; width: 500px; padding: 1rem")
    .h4(style="margin-bottom: 1.5rem")= __("REGISTER")
    if errors
      .alert.alert-danger: ul(style="margin-bottom: 0")
        each error in errors
          li= __(error)
    .form-group.row
      label.col-sm-4.form-control-label= __("LOGIN_FIELD_NAME")
      .col-sm-8
        input.form-control(type="text", name="login", value=form.login)
    .form-group.row
      label.col-sm-4.form-control-label= __("PASSWORD_FIELD_NAME")
      .col-sm-8
        input.form-control(type="password" name="password" value=form.password)
    .form-group.row
      label.col-sm-4.form-control-label= __("PASSWORD_CONFIRM_FIELD_NAME")
      .col-sm-8
        input.form-control(type="password" name="password_confirm" value=form.password_confirm)
    .form-group.row
      .col-sm-4
      .col-sm-8
        button.btn.btn-primary(type="submit")= __("REGISTER")