extends layout

block head
  title= __("UPLOAD_FILE")

block content
  - form = form || {}
  form(method="post" enctype="multipart/form-data" style="margin: 0 auto; width: 500px; padding: 1rem")
    .h4(style="margin-bottom: 1.5rem")= __("UPLOAD_FILE")
    if ok
      .alert.alert-success!= __("FILE_UPLOAD_OK", ok)
    if errors
      .alert.alert-danger: ul(style="margin-bottom: 0")
        each error in errors
          li= __(error)
    .form-group.row
      label.col-sm-3.form-control-label= __("FILE")
      .col-sm-9
        input(type="file" name="file")
    .form-group.row
      .col-sm-3      
      .col-sm-9
        label
          input(type="checkbox" name="private" style="margin-right: 0.5rem" checked=form.private ? true : false)
          = __("IS_PRIVATE_FILE")
    .form-group.row
      .col-sm-3
      .col-sm-9
        button.btn.btn-primary(type="submit")= __("UPLOAD")